@model ProyectoEncuesta.Models.Respuesta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Encuesta finalizada</h4>
    
</div>
<p>
    <a href="/Encuestas" role="button">Regresar</a>
</p>
